* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #ffffff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    border-bottom: 2.5px solid rgb(255, 191, 0);
    position: sticky;
    top: 0;
}
.logo {
    font-size: 25px;
    font-weight: bold;
}
.logo .list {
    color: rgb(56, 56, 82);
}
.logo .zero {
    color: rgb(255, 191, 0);
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.2s;
}
.nav-links a:hover {
    background: #eef1ff;
    color: #4b5cff;
}

.short_script {
   padding: 100px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.short_script h2 {
    font-size: 35px;
    color: rgb(56, 56, 82);
}

.short_script p {
    padding: 5px 0;
    font-size: 20px;
    color: #666;
}
.button1 {
    margin: 0 auto;
    background: rgb(255, 191, 0);
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
    align-items: center;
   
}
   